doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MYOB Recruit
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-theme.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='js/bootstrap.min.js')
  body
    #top-border
    #menu.col-md-2
      h2 Mike's Business
      h3 MYOB Recruit
      nav#side-nav
        ul
          li
            a(href=homepage)
              span.glyphicon.glyphicon-home
              | Home
          li
            a(href=recruiting)
              span.glyphicon.glyphicon-king
              | Recruiting
          li
            a(href=employees)
              span.glyphicon.glyphicon-tree-conifer
              | Employees
          li
            a(href=contracts)
              span.glyphicon.glyphicon-sound-stereo
              | Contracts
          li
            a(href=applicationforms)
              span.glyphicon.glyphicon-cutlery
              | Application Forms
          li
            a(href=testforms)
              span.glyphicon.glyphicon-record
              | Test Forms
          li
            a(href=preferences)
              span.glyphicon.glyphicon-sort-by-order
              | Preferences
    #content.col-md-10
      block content
      
