ul.nav-ul
  li.section-li.section-01
    a(href=homepage)
      span.glyphicon.glyphicon-home
      | Home
  li.section-li.section-02
    a(href=recruiting)
      span.glyphicon.glyphicon-king
      | Recruiting
  li.section-li.section-03
    a(href=employees)
      span.glyphicon.glyphicon-tree-conifer
      | Employees
  li.section-li.section-04
    a(href=contracts)
      span.glyphicon.glyphicon-sound-stereo
      | Contracts
  li.section-li.section-05
    a(href=applicationforms)
      span.glyphicon.glyphicon-cutlery
      | Application Forms
  li.section-li.section-06
    a(href=testforms)
      span.glyphicon.glyphicon-record
      | Test Forms
  li.section-li.section-07
    a(href=preferences)
      span.glyphicon.glyphicon-sort-by-order
      | Preferences
