li
  a(href=homepage)
    span.glyphicon.glyphicon-home
    | Home
li
  a(href=recruiting)
    span.glyphicon.glyphicon-king
    | Recruiting
li
  a(href=employees)
    span.glyphicon.glyphicon-tree-conifer
    | Employees
li
  a(href=contracts)
    span.glyphicon.glyphicon-sound-stereo
    | Contracts
li
  a(href=applicationforms)
    span.glyphicon.glyphicon-cutlery
    | Application Forms
li
  a(href=testforms)
    span.glyphicon.glyphicon-record
    | Test Forms
li
  a(href=preferences)
    span.glyphicon.glyphicon-sort-by-order
    | Preferences
